---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title='Yannis Bouacida | Software Engineer.'>
  <main class='m-auto p-6 max-w-xl'><Header /></main>
</Layout>
