---
import data from '../data/data.json';
import Card from './Card.astro';

const title = `The things i enjoy the most`;
const { interest } = data;
---

<section class='py-4'>
  <p class='text-lg font-semibold'>{title}</p>
  <div class='grid md:grid-cols-2 sm:grid-cols-1 my-4 py-px'>
    {interest.map((item) => <Card item={item} />)}
  </div>
</section>
